﻿@model Udemy_ASPDotNET_MVC_Course.ViewModels.CustomerFormViewModel
@{
	ViewBag.Title = "CustomerForm";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

@using (Html.BeginForm ("Save", "Customer"))
{
	@Html.ValidationSummary(true, "Please fix the following errors.")
	<div class="form-group">
		@Html.LabelFor(m => m.Customer.Name)
		@Html.TextBoxFor(m => m.Customer.Name, new {@class = "form-control"})
		@Html.ValidationMessageFor(m => m.Customer.Name)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Customer.MembershipTypeId)
		@Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList (Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Customer.Birthdate)
		@Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}",new {@class = "form-control"})
		@Html.ValidationMessageFor(m => m.Customer.Birthdate)
	</div>
	
	<div class="checkbox">
		<label>
			@Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed to Newsletter?
		</label>
	</div>
	@Html.HiddenFor(m => m.Customer.Id)
	@Html.AntiForgeryToken()
	<button type="submit" class="btn btn-primary">
		Save
	</button>
}

@section scripts
{
	@Scripts.Render("~/bundles/jqueryval")
}
