﻿
@model Udemy_ASPDotNET_MVC_Course.Models.Customer
@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
	<li><b>Membership Type: </b>@Model.MembershipType.Name</li>
	@if (@Model.Birthdate.HasValue)
	{
		<li><b>Birthdate: </b> @Model.Birthdate.Value.ToShortDateString()</li>
	}
</ul>