﻿@model IEnumerable <Udemy_ASPDotNET_MVC_Course.Models.Customer>

@{
	ViewBag.Title = "Customers";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table id="customers" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Customer</th>
			<th>Membership Type</th>
			<th>Discount Rate</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		@*
			@foreach (var customer in Model)
				 {
					<tr>
						<td>@Html.ActionLink(customer.Name, "Edit", "Customer", new {id = customer.Id}, null)</td>
						<td>@customer.MembershipType.Name</td>
						<td>@customer.MembershipType.DiscountRate%</td> <!--the % symbol is read as plain text to be shown after the discount number-->
						<td>
							<button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
						</td>
					</tr>
				 }
		*@
	</tbody>
</table>

@section scripts
{
	<script>
		$(document).ready(function () {
			var customerTable = $("#customers").DataTable({
				ajax: {
					url: "/api/customer",
					dataSrc: ""
				},
				columns: [
					{
						data: "name",
						render: function(data, type, customer) {
							return "<a href='/customer/edit/" + customer.id + "'>" + customer.name + "</a>";
						}
					},
					{
						data: "membershipType.name"
					},
					{
						data: "membershipType.discountRate",
						render: function(data) {
							return data + "%";
						}
					},
					{
						data: "id",
						render: function(data) {
							return "<button class='btn btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
						}
					}
				]
			});

			$("#customers").on("click", ".js-delete", function () {
				var button = $(this);

				bootbox.confirm("Are you sure you want to delete this customer?", function(result) {
					if (result) {
						$.ajax({
							url: "/api/customer/" + button.attr("data-customer-id"),
							method: "DELETE",
							success: function () {
								customerTable.row(button.parents("tr")).remove().draw();
							}
						});
					}
				});
			});
		});
	</script>
	
}
