﻿@model IEnumerable <Udemy_ASPDotNET_MVC_Course.Models.Movie>

@{
	ViewBag.Title = "Movies";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<p>
	@Html.ActionLink("New Movie", "New", "Movie", null, new { @class = "btn btn-primary" })
</p>
<table id="movies" class="table table-bordered table-hover">
	<thead>
	<tr>
		<th>Movie</th>
		<th>Genre</th>
		<th>Delete</th>
	</tr>
	</thead>
	<tbody>
	@*
	@foreach (var movie in Model)
	{
		<tr>
			<td>@Html.ActionLink (movie.Name, "Edit", "Movie", new { id = movie.Id }, null)</td>
			<td>@movie.Genre.Name</td>
		</tr>
	}
	*@
	</tbody>
</table>

@section scripts
{
	<script>
		$(document).ready(function() {
			var movieTable = $("#movies").DataTable({
				ajax: {
					url: "api/movie",
					dataSrc: ""
				},
				columns: [
					{ data: "name", render: function(data, type, movie) { return "<a href='/movie/edit/" + movie.id + "'>" + movie.name + "</a>" } },
					{ data: "genre.name" },
					{ data: "id", render: function(data) { return "<button class='btn btn-link js-delete' data-movie-id=" + data + ">Delete</button>"; } }
				]
			});
			$("#movies").on("click", ".js-delete", function() {
				var button = $(this);

				bootbox.confirm("Are you sure you want to delete this movie?", function(result) {
					if (result) {
						$.ajax({
							url: "/api/movie/" + button.attr("data-movie-id"),
							method: "DELETE",
							success: function() {
								movieTable.row(button.parents("tr")).remove().draw();
							}
						});
					}
				});
			});
		});
	</script>
}

