﻿@model Udemy_ASPDotNET_MVC_Course.ViewModels.RandomMovieViewModel
@{
	ViewBag.Title = "Random";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
	<p>This movie has never been rented by anyone.</p>
}
else
{
	<ul>
		@foreach (var customer in Model.Customers)
		{
			<li>@customer.Name</li>
		}
	</ul>
}


