﻿<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("Rentalot", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Movies", "Index", "Movie")</li>
				<li>@Html.ActionLink("Customers", "Index", "Customer")</li>
				<li>@Html.ActionLink("New Rental", "New", "Rental")</li>
			</ul>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
</div>
